h2{
    display:block;
    color:lightblue;
    font-style:bold; 
}
.normal{
   border-style:dotted;
   font-family:courier;
   overflow:scroll;
   position:fixed; 
   top: 300;
   left:50;
   right:50;
   height:300;
   width: 700;
   padding: 20;
   letter-spacing: 3;
    text-indent: 0;
}
.sampleMenu{
    display: inline-block;
    position:fixed;
    top:300;
    left:800;
    height:300;
    width:200;
    border-style:solid;
    border-color:white;
    overflow:hidden;
}
ul.sample-menu {
    list-style-type:circle;
    text-decoration: none;
    text-align:center;
    float:left;
    padding:0;
    margins:0;
    overflow:hidden;
}   
li a.prelim{
    color:lightblue;
    font-type:bold;
    font-size: 20;
    padding:10;
    margins:10;
    text-align:center;
    text-decoration:none;
    display:block;
    position:fixed;
    top:300;
    left:800;
    text-indent:0;
    border-style:dotted;
    border-left-width:thick;
    list-style-type:none;   
    overflow:hidden;
}
li a.post2{
    color:lightblue;
    font-type:bold;
    font-size: 20;
    padding:10;
    margins:10;
    text-align:center;
    text-decoration:none;
    display:block;
    position:fixed;
    top: 450;
    left:800;
    text-indent:0;
    border-style:dotted;
    border-left-width:thick;
    list-style-type:none;   
    overflow:hidden;
}
li a.post3{
    color:lightblue;
    font-type:bold;
    font-size: 20;
    padding:10;
    margins:10;
    text-align:center;
    text-decoration:none;
    display:block;
    position:fixed;
    top: 600;
    left:800;
    text-indent:0;
    border-style:dotted;
    border-left-width:thick;
    list-style-type:none;   
    overflow:hidden;
}
li a.Reflection{
    color:lightblue;
    font-type:bold;
    font-size: 20;
    padding:10;
    margins:10;
    text-align:center;
    text-decoration:none;
    display:block;
    position:fixed;
    top: 750;
    left:800;
    text-indent:0;
    border-style:dotted;
    border-left-width:thick;
    list-style-type:none;   
    overflow:hidden;
    border-color: lightblue;
}
footer { 
   position: fixed; 
    bottom: 0;
    color:lightblue;
}
