h1 { color: blue;
    font-family: Courier;
}

ul.main-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul.main-menu>li {
    display: inline;
}

p { color: pink;
    font-family: Courier;
}
h2 { color: green; 
    font-family: Courier
}
