body { background-color: white;
}
h1 { color: black;
    font-family: Comic Sans Ms;
}
ul.main-menu {
    list-style-type: square;
    font-color: black;
    margin: 50;
    padding: 25;
    font-family: Comic Sans Ms;
    border-style: dotted;
    border-color: black;
}
a.portfolio{
    color:red;
}
    
h2 { color: black; 
    font-family: Comic Sans Ms;
}
p { color: black;
    font-family: Comic Sans Ms;
}
