h2{
    display:block;
    color:gold;
    font-style:bold;
}
div{
    width: 300;
    position:fixed;
    top:300;
    right:100;
    text-align:left;
    padding:0;
    margins:0;
}
ul.sample-menu {
    list-style-type:none;
    text-decoration: none;
    text-align:left;
    float:left;
    padding:0;
    margins:0;
}
 li{
    float: left;
    border-color: black;
    list-style-type:none;  
    margins:0;
    padding:0;
    text-decoration:none;
    text-align:left;
}    
footer { 
   position: fixed; 
    bottom: 0;
    color:gold;
}

