h2{
    display:block;
    color:gold;
    font-style:bold;
}
div{
    width: 300;
    position:fixed;
    top:300;
    right:100;
    text-align:left;
    padding:0;
    margins:0;
}
ul.sample-menu {
    list-style-type:none;
    text-decoration: none;
    text-align:left;
    float:left;
    padding:0;
    margins:0;
}
 li{
    float: left;
    border-color: black;
    list-style-type:none;  
    margins:0;
    padding:0;
    text-decoration:none;
    text-align:left;
}    
li a {
    list-style-type: none;
    display: block;
    color:black;
    text-align: center;
    padding-left: 30;
    padding-right:30;
    padding-top: 10;
    padding-bottom:10;
    text-decoration:none;
}
footer { 
   position: fixed; 
    bottom: 0;
    color:gold;
}

